.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.menu {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 8rem 8rem 8rem;
  gap: 4rem;
}
.menuImage {
  border-radius: 3rem;
}
.pilihan {
  display: flex;
  gap: 1rem;
}
.label {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}
