{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hero.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/menu.css') }}"
/>
<title>Kuy! Roti Bakar 🍞</title>
{% endblock %} {% block navbar %}
<span id="scroll-position-data" style="display: none">0</span>
<nav>
  <a href="/">
    <img
      src="{{ url_for('static', filename='img/logo-merah.png') }}"
      alt="Kuy Logo"
      class="navImg"
    />
  </a>
  <div class="navMenu">
    <a class="navLink active" href="/"> Home </a>
    <a class="navLink" href="/menu"> Menu </a>
  </div>
  {% if 'is_logged_in' in session %}
  <div>
    <a
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      class="cursor-pointer mx-4 material-symbols-outlined"
      onclick="HandleClickCart()"
    >
      shopping_cart
    </a>
    <a class="navLink align-text-bottom" href="/logout"
      >{{ session["data"]["nama"] }}</a
    >
  </div>
  {% else %}
  <a class="navLink" href="/login">Login</a>
  {% endif %}
</nav>
{% endblock %} {% block body %}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Keranjang</h1>
      </div>
      <div class="modal-body" id="keranjang">
      </div>
      <div class="modal-footer flex-nowrap justify-between">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="Total Harga"
            disabled
          />
          <label for="floatingInput">Total Harga</label>
        </div>
        <div class="tombol">
          <button
            type="button"
            class="btn btn-secondary bg-[var(--bs-btn-bg)]"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
          id="bayar"
            type="button"
            class="btn btn-success bg-[var(--bs-btn-bg)]"
            data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal"
            onclick="HandlePayment()"
          >
            Bayar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">QRIS</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body relative">
        <img src="/static/qris/template.png" alt="QRIS Kuy Roti Bakar" />
        <div class="overflow-hidden h-[260px] w-[260px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
          <img id="qris" class="object-cover object-center" src="" alt="QRIS Kuy Roti Bakar">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero">
  <div class="heroContent">
    <h1 class="heroTitle">Kuy! Roti Bakar 🍞</h1>
    <p class="heroDescription">
      Roti bakar dengan pastry yang menggoda ini adalah hasil dari kombinasi
      yang harmonis antara cita rasa coklat, keju, matcha, strawberry, dan
      blueberry yang memukau. Setiap gigitannya mempersembahkan sentuhan yang
      menggugah selera dengan beragam lapisan cita rasa yang memanjakan lidah.
    </p>
    <div class="heroButton">
      <a
        href="https://wa.me/62895616602968?text=Halo%2C+saya+ingin+memesan"
        class="btn btn-light border"
      >
        <span class="underLine">Kuy! Order Sekarang</span>
      </a>
    </div>
  </div>
  <div>
    <img
      class="heroImage"
      src="{{ url_for('static',filename='img/Menu/Keju.jpg') }}"
      alt="Roti Bakar Keju"
    />
  </div>
</div>

<div style="padding-top: 7.5rem">
  <h2 id="Menu" class="title">Ayo Kreasikan Roti Kamu!</h2>
  <div class="menu">
    <img
      class="menuImage"
      src="{{ url_for('static',filename='img/Menu/Polos.jpg') }}"
      alt="Roti Bakar"
    />
    <div>
      <h3 id="rotiLabel" class="label">Pilihan Roti:</h3>
      <div id="roti" class="pilihan">
        <button
          onclick="HandleSetData('Roti','Polos',this)"
          class="btn btn-light border"
        >
          Polos
        </button>
        <button
          onclick="HandleSetData('Roti','Pastry',this)"
          class="btn btn-light border"
        >
          Pastry
        </button>
      </div>
      <h3 id="ukuranLabel" class="label">Pilihan Ukuran:</h3>
      <div id="ukuran" class="pilihan">
        <button
          onclick="HandleSetData('Ukuran','Large',this)"
          class="btn btn-light border"
        >
          Large
        </button>
        <button
          onclick="HandleSetData('Ukuran','Small',this)"
          class="btn btn-light border"
        >
          Small
        </button>
      </div>
      <h3 id="rasaLabel" class="label">Pilihan Rasa:</h3>
      <div id="rasa" class="pilihan">
        <button
          onclick="HandleSetData('Rasa','Strawberry',this)"
          class="btn btn-light border"
        >
          Strawberry
        </button>
        <button
          onclick="HandleSetData('Rasa','Blueberry',this)"
          class="btn btn-light border"
        >
          Blueberry
        </button>
        <button
          onclick="HandleSetData('Rasa','Coklat',this)"
          class="btn btn-light border"
        >
          Coklat
        </button>
        <button
          onclick="HandleSetData('Rasa','Tiramisu',this)"
          class="btn btn-light border"
        >
          Tiramisu
        </button>
        <button
          onclick="HandleSetData('Rasa','Matcha',this)"
          class="btn btn-light border"
        >
          Matcha
        </button>
        <button
          onclick="HandleSetData('Rasa','Keju',this)"
          class="btn btn-light border"
        >
          Keju
        </button>
      </div>
      <h3 id="toppingLabel" class="label">Pilihan Topping:</h3>
      <div id="topping" class="pilihan">
        <button
          onclick="HandleSetData('Topping','Kacang',this)"
          class="btn btn-light border"
        >
          Kacang
        </button>
        <button
          onclick="HandleSetData('Topping','Oreo',this)"
          class="btn btn-light border"
        >
          Oreo
        </button>
        <button
          onclick="HandleSetData('Topping','Keju',this)"
          class="btn btn-light border"
        >
          Keju
        </button>
      </div>
      <h3 id="toppingLabel" class="label">Jumlah:</h3>
      <input
        class="form-control form-control-sm w-20"
        type="text"
        id="jumlah"
        placeholder="Jumlah"
        maxlength="2"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
      />
      <br />
      <div class="pilihan">
        {% if 'is_logged_in' in session %}
        <button onclick="HandleClickSubmit()" class="btn btn-success">
          Order Sekarang!
        </button>
        {% else %}
        <button class="btn btn-success">Order Sekarang!</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script>
  window.addEventListener("scroll", function () {
    var scrollPosition = window.scrollY;
    document.getElementById("scroll-position-data").textContent =
      scrollPosition;
    if (scrollPosition > 0) {
      document.querySelector("nav").classList.add("scrolled");
    } else {
      document.querySelector("nav").classList.remove("scrolled");
    }
  });
</script>
<script src="/static/js/qris.js"></script>
<script>
  let data = {
    roti: "",
    ukuran: "",
    rasa: "",
    topping: "",
    jumlah: 0,
    total:0
  };
  let id = {{ session["data"]["no_telepon"] if session["data"] else "0" | safe }};
  let jumlah = document.getElementById("jumlah");
  jumlah.addEventListener("change", function () {
    data["jumlah"] = jumlah.value;
    console.log(data);
  });
  function HandleSetData(key, value, elem) {
    key = key.toLowerCase();
    let img = document.querySelector(".menuImage");
    document.querySelector("#" + key + "Label").textContent =
      "Pilihan " + key + ": " + value;
    elem.classList = "btn border btn-success";
    let active = document.querySelectorAll("#" + key + " button");
    active.forEach((element) => {
      if (element != elem) {
        element.classList = "btn btn-light border";
      }
    });
    if (value == data[key]) {
      data[key] = "";
      elem.classList = "btn btn-light border";
    } else {
      data[key] = value;
    }
    if (key == "rasa") {
      img.src = "/static/img/Menu/" + value + ".jpg";
      if (data[key] == "") {
        img.src = "/static/img/Menu/polos.jpg";
      }
    }
    console.log(data);
  }
  function HandleClickSubmit() {
    fetch(`/keranjang/${id}`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json' // Set content type for JSON data
      },
      body: JSON.stringify(data),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.status == "success") {
          window.location.reload();
        }
      }).catch(error => console.error('Error:', error));;
  }
  function HandleDelCart(id_keranjang) {
    fetch(`/del/keranjang`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json' // Set content type for JSON data
      },
      body: JSON.stringify({
        "no":id,
        "id":id_keranjang
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.status == "success") {
          window.location.reload();
        }
      }).catch(error => console.error('Error:', error));;
  }
  function HandlePayment(){
    fetch(`/payment`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        "no":id
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.status == "success") {
          nominal = data.data["kode_unik"]+data.data["total"]
          document.getElementById("qris").src = encodeURI(qris(nominal.toString()));
        }
      }).catch(error => console.error('Error:', error));;
  }
  function HandleClickCart() {
    fetch(`/keranjang/${id}`, {
      method: "GET",
    })
      .then((res) =>{
      if (res.status == 200){
        return res.json()}
      else{
        return null}}
      )
      .then((data) => {
        if (data != null) {
          let keranjang = document.getElementById("keranjang");
          let total = 0
          let tempKeranjang = "";
          data.forEach((elem,idx) => {
            total += elem.total;
            tempKeranjang += `<div class="flex items-center justify-between mb-3">
              <div class="flex items-center justify-start gap-x-3">
        <h2>${idx+=1}</h2>
        <img
        class="w-20 rounded"
        src="/static/img/Menu/${elem.rasa.toLowerCase()}.jpg"
        alt="Menu Kuy"
        />
        <div class="flex flex-col gap-y-2">
          <h2 class="text-sm font-medium">${elem.jumlah} ${elem.roti} ${elem.ukuran} ${elem.rasa} ${elem.topping != null ? elem.topping : ""}</h2>
          <h2 class="text-sm font-normal">Rp. <span>${elem.total.toLocaleString('id-ID', {
            style: 'currency',
            currency: 'IDR',
            useGrouping: true,
            maximumFractionDigits: 0
          }).replace('Rp', '')}</span></h2>
        </div>
      </div>
      <button class="btn btn-danger bg-[var(--bs-btn-bg)] w-max p-1" onclick="HandleDelCart(${elem.id_keranjang})">
        <span class="material-symbols-outlined align-middle text-sm">
          delete
        </span>
      </button></div>`;});
      keranjang.innerHTML = tempKeranjang;
      document.getElementById("floatingInput").value = total.toLocaleString('id-ID', {
        style: 'currency',
        currency: 'IDR',
        useGrouping: true,
        maximumFractionDigits: 0
      }).replace('Rp', '');
    }else{
      document.getElementById("bayar").style = "display:none";
      document.getElementById("floatingInput").value = ""
      keranjang.innerHTML = `<div class="flex items-center justify-center">
      <h2 class="text-sm font-medium">Keranjang Kosong</h2>
      </div>`;
    }
  });
  }
</script>
{% endblock %}
