{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<title>Register</title>
{% endblock %} {% block body %}
{{ test }}
<div class="min-vh-100 row d-flex align-items-center justify-content-center">
  <div class="col-4">
    <img
      src="{{ url_for('static', filename='img/logo-merah.png') }}"
      alt="Kuy Logo"
      class="navImg"
    />
  </div>
  <div class="col-4">
    <form action="/register" method="post">
      <div class="mb-3">
        <label for="inpNo" class="form-label fw-bold">No Telepon</label>
        <input
          id="inpNo"
          type="text"
          class="form-control bg-transparent"
          name="inpNo"
          maxlength="13"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          placeholder="Masukan Nomor Telepon Anda"
        />
      </div>
      <div class="mb-3">
        <label for="inpNama" class="form-label fw-bold">Nama</label>
        <input
          id="inpNama"
          type="text"
          class="form-control bg-transparent"
          name="inpNama"
          placeholder="Masukan Nama Anda"
        />
      </div>
      <div class="mb-3">
        <label for="inpPass" class="form-label fw-bold">Password</label>
        <input
          id="inpPass"
          type="password"
          class="form-control bg-transparent"
          name="inpPass"
          placeholder="Masukan Password Anda"
        />
      </div>
      <div class="mb-3">
        <label for="inpConPass" class="form-label fw-bold"
          >Confirm Password</label
        >
        <input
          id="inpConPass"
          type="password"
          class="form-control bg-transparent"
          name="inpConPass"
          placeholder="Konfirmasi Password Anda"
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary mt-4 fw-bold bg-[var(--bs-btn-bg)]">
          Register
        </button>
      </div>
      <a
        href="{{ url_for('login') }}"
        class="nav-link my-2 mx-auto text-center fw-bold text-secondary"
        >Login</a
      >
    </form>
  </div>
</div>
{% endblock %}
